### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Java / Build Artifacts ###
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### VS Code ###
.vscode/

### Generated Output ###
bin/

### Systemowe / Inne ###
.DS_Store
thumbs.db
log/
*.log
temp/
